{% extends "base.html" %}

{% block content %}

<div class="container">

  <aside class="col col-sm-5">
    <div class="card">
      <article class="card-body">
        <h4 class="card-title mb-4 mt-1 text-center">Cadastrar usuário</h4>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="alert alert-warning">
          {{ messages[0]}}. Go to <a href="{{ url_for('auth.login') }}">login page</a>.
        </div>
        {% endif %}
        {% endwith %}
        <form method="POST" action="/signup">
          <div class="username">
              <input name="username" class="form-control" placeholder="Nome" type="text" autofocus="">  
          </div>
          <div class="email">
              <input name="email" class="form-control" placeholder="e-mail" type="email" autofocus="">
          </div>
          <div class="country">
            <input name="country" class="form-control" placeholder="País" type="text" autofocus="">  
        </div>
        <div class="state">
            <input name="state" class="form-control" placeholder="Estado" type="text" autofocus="">
        </div>
        <div class="city">
          <input name="city" class="form-control" placeholder="Município" type="text" autofocus="">
      </div>
      <div class="CEP">
        <input name="CEP" class="form-control" placeholder="CEP" type="text" autofocus="">
    </div>
    <div class="rua">
      <input name="rua" class="form-control" placeholder="Rua" type="text">  
  </div>
  <div class="numero">
    <input name="numero" class="form-control" placeholder="Número" type="text">  
</div>
<div class="complemento">
  <input name="complemento" class="form-control" placeholder="Complemento" type="text">  
</div>
<div class="PIS">
  <input name="PIS" class="form-control" placeholder="PIS" type="text">  
</div>
<div class="CPF">
    <input name="CPF" class="form-control" placeholder="CPF" type="text">  
</div>
<div class="password">
  <input name="password" class="form-control" placeholder="********" type="password">  
</div>
          <button type="submit" class="btn btn-info btn-block">Sign Up</button>
        </form>
      </div>

    </div>
      </article>
  </aside>
{% endblock %}